.dashboard {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard h1 {
    margin: 0;
}

.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px; /* Make the button smaller */
    padding: 5px 10px; /* Adjust padding */
    border-radius: 4px;
    width: fit-content; /* Fit the button to its content */
    margin-left: auto; /* Align to the right */
}

.logout-button:hover {
    background-color: #d32f2f;
}

.dashboard .chart-container {
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    justify-content: right;
}

.add-expense-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: fit-content; 
    align-self: flex-end;
}

.add-expense-button:hover {
    background-color: #45a049;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.chart-wrapper {
    display: flex;
    justify-content: center; /* Center the pie chart horizontally */
    max-width: 400px; /* Reduce the size of the pie chart */
    margin: 0 auto;
}

.insights-heading {
    text-align: left; /* Left-align the heading */
}

.no-expenses {
    text-align: center;
    margin-top: 20px;
}

.no-expenses p {
    font-size: 14px; /* Small text size */
    font-weight: bold; /* Bold text */
    color: #555;
}

.total-amount h3 {
    font-size: 18px; /* Reduce the font size of the total amount */
    text-align: center;
    color: #333;
}
