:root {
    --primary-color: #4CAF50;
    --primary-color-hover: #45a049;
    --secondary-color: #f44336;
    --secondary-color-hover: #d32f2f;
    --background-color: #fff;
    --text-color: #333;
    --text-color-light: #666;
    --border-color: #ddd;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

.expense {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background: var(--background-color);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
}

.expense-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.expense-amount {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

.expense-date, .expense-category {
    font-size: 14px;
    color: var(--text-color-light);
}

.expense-description {
    font-size: 14px;
    color: var(--text-color-light);
    margin-top: 5px;
    text-align: left; 
    word-wrap: break-word; 
    margin: 0px 10px;
}

.expense-actions {
    display: flex;
    gap: 5px; 
}

.edit-icon, .delete-icon {
    cursor: pointer;
    color: var(--text-color-light);
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: var(--primary-color); /* Green color for edit icon */
}

.delete-icon:hover {
    color: var(--secondary-color); /* Red color for delete icon */
}

.expense-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0;
    background: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
}

.expense-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.expense-amount-actions {
    display: flex;
    align-items: center;
    gap: 20px; /* Add space between amount and icons */
}

.expense-amount {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

.expense-body {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.expense-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-category, .expense-date, .expense-description {
    font-size: 14px;
    color: var(--text-color-light);
}

.expense-category {
    font-size: 14px;
    color: var(--text-color-light);
    margin-top: 5px;
}
