.expense-list {
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.expense-list h2 {
    display: inline-block;
    margin-right: 20px;
}

.expense-list table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.expense-list th, .expense-list td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.expense-list th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.expense-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.expense-list tr:hover {
    background-color: #f1f1f1;
}

.expense-list td {
    color: #333;
}

.expenses-container {
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between; /* Ensure page count is on the left and buttons on the right */
    align-items: center;
    gap: 10px;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    width: fit-content; /* Set width to fit-content */
    margin-left: 5px; /* Add gap between buttons */
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination span {
    font-size: 12px; /* Make the page count text a bit smaller */
    color: #333;
}
